# Generic iCEstick placement constraints file

# Red LEDs
set_io --warn-no-port LED0 99
set_io --warn-no-port LED1 98
set_io --warn-no-port LED2 97
set_io --warn-no-port LED3 96

# Green LED
set_io --warn-no-port LED4 95

# IrDA port
#set_io --warn-no-port RXD 106
#set_io --warn-no-port TXD 105
#set_io --warn-no-port SD 107

# Pmod connector
set_io --warn-no-port PIO1_02 78 # Pin 1
set_io --warn-no-port PIO1_03 79 # Pin 2
set_io --warn-no-port PIO1_04 80 # Pin 3
set_io --warn-no-port PIO1_05 81 # Pin 4
set_io --warn-no-port PIO1_06 87 # Pin 7
set_io --warn-no-port PIO1_07 88 # Pin 8
set_io --warn-no-port PIO1_08 90 # Pin 9
set_io --warn-no-port PIO1_09 91 # Pin 10

# Connector J1
#set_io --warn-no-port PIO0_02 112 # Pin 3
#set_io --warn-no-port PIO0_03 113 # Pin 4
#set_io --warn-no-port PIO0_04 114 # Pin 5
#set_io --warn-no-port PIO0_05 115 # Pin 6
#set_io --warn-no-port PIO0_06 116 # Pin 7
#set_io --warn-no-port PIO0_07 117 # Pin 8
#set_io --warn-no-port PIO0_08 118 # Pin 9
#set_io --warn-no-port PIO0_09 119 # Pin 10

# Connector J3
#set_io --warn-no-port PIO2_17 62 # Pin 3
#set_io --warn-no-port PIO2_16 61 # Pin 4
#set_io --warn-no-port PIO2_15 60 # Pin 5
#set_io --warn-no-port PIO2_14 56 # Pin 6
#set_io --warn-no-port PIO2_13 48 # Pin 7
#set_io --warn-no-port PIO2_12 47 # Pin 8
#set_io --warn-no-port PIO2_11 45 # Pin 9
#set_io --warn-no-port PIO2_10 44 # Pin 10

# FTDI Port B UART
#set_io --warn-no-port DCDn 1
#set_io --warn-no-port DSRn 2
#set_io --warn-no-port DTRn 3
#set_io --warn-no-port CTSn 4
#set_io --warn-no-port RTSn 7
set_io --warn-no-port RS232_Tx_TTL 8
set_io --warn-no-port RS232_Rx_TTL 9

# SPI
#set_io --warn-no-port SPI_SCK 70
#set_io --warn-no-port SPI_SI 68
#set_io --warn-no-port SPI_SO 67
#set_io --warn-no-port SPI_SS_B 71

# Configuration pins
#set_io --warn-no-port CDONE 65
#set_io --warn-no-port CRESET_B 66

# 12 MHz clock
set_io --warn-no-port iCE_CLK 21
